<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAWsoRCJm1ThsgKgTCT5xCP6fAp-O0XUwE</string>
	<key>GCM_SENDER_ID</key>
	<string>746866701574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cspotifyApp</string>
	<key>PROJECT_ID</key>
	<string>cspotify-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cspotify-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:746866701574:ios:73e0527a07a43f32319a87</string>
</dict>
</plist>